@import url("https://use.typekit.net/sae5fzu.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");

body {
	margin: 0;
	user-select: none;
	background-color: transparent !important;
	overflow: hidden;
}

:root {
	color-scheme: only light !important;
}

#root {
	height: 100%;
	background-color: transparent !important;
}

/* width */
::-webkit-scrollbar {
	width: 3px;
	border-radius: 3px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgb(95, 95, 95);
	border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
