.loader-container {
	--uib-size: 37px;
	--uib-color: white;
	--uib-speed: 0.9s;
	--uib-bg-opacity: 0.1;
	height: var(--uib-size);
	width: var(--uib-size);
	transform-origin: center;
	overflow: visible;
}

.loader-car {
	fill: none;
	stroke: var(--uib-color);
	stroke-dasharray: 15, 85;
	stroke-dashoffset: 0;
	stroke-linecap: round;
	animation: travel var(--uib-speed) linear infinite;
	will-change: stroke-dasharray, stroke-dashoffset;
	transition: stroke 0.5s ease;
}

.loader-track {
	stroke: var(--uib-color);
	opacity: var(--uib-bg-opacity);
	transition: stroke 0.5s ease;
}

@keyframes travel {
	0% {
		stroke-dashoffset: 0;
	}

	100% {
		stroke-dashoffset: -100;
	}
}
